
module local-vcfs 1.0;

require {
	type syslogd_t;
	type user_home_t;
	type setroubleshootd_t;
	type public_content_rw_t;
	class dir { open read search };
	class file { append getattr ioctl open read };
}

#============= setroubleshootd_t ==============
allow setroubleshootd_t public_content_rw_t:file read;

#============= syslogd_t ==============
allow syslogd_t public_content_rw_t:dir search;

#!!!! The file '/home/vagrant/common/var/log/rsyslog/vcfs' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /home/vagrant/common/var/log/rsyslog/vcfs
allow syslogd_t public_content_rw_t:file { append getattr open read };
allow syslogd_t user_home_t:dir { open read search };
allow syslogd_t user_home_t:file { ioctl open read };
