*~
clusters/vc/common/home/sts/.gnupg
clusters/vx/common/etc/slurm
tarballs
schedmd.8849
clusters/vc/.regenerated
clusters/vc/cfg/vcaltdb/config/community-mysql/.my.cnf
clusters/vc/cfg/vcdb/config/community-mysql/.my.cnf
clusters/vc/cfg/vcbuild/build/slurm/last.built
clusters/vc/common/home/sts/.ssh
clusters/vc/cfg/vcaltdb/requires/vcdb/ipaddr
clusters/vc/cfg/vcfs/rootfs/etc/sysconfig/rpcbind
clusters/vc/cfg/vcgate/requires/vcaltdb/ipaddr
clusters/vc/cfg/vclogin/config/slurm/ipaddr-slurmctld
clusters/vc/cfg/vclogin/config/slurm/ipaddr-slurmdbd
clusters/vc/cfg/vcsched/config/slurm/ipaddr
clusters/vx/.regenerated
clusters/vx/cfg/vxlogin/config/slurm/ipaddr-slurmctld
clusters/vx/cfg/vxlogin/config/slurm/ipaddr-slurmdbd
clusters/vc/cfg/vcfs/rootfs/etc/exports
clusters/vc/cfg/vcsched/rootfs/etc/chrony.conf
clusters/vc/cfg/vcsched/rootfs/etc/resolv.conf.append
clusters/vc/cfg/vcsvc/config/rsyslog/ipaddr
clusters/vc/cfg/vcsvc/rootfs/etc/dnsmasq.conf
clusters/vx/.vagrant
clusters/vx/common/etc/hosts
clusters/vx/common/etc/hosts.allow
.viminfo
slurm-*.out
clusters/common/bin/provision-manifest.sh
README.md.html
clusters/vc/cfg/vc1/rpm/early/.RPMS.Manifest
clusters/vc/cfg/vc2/rpm/early/.RPMS.Manifest
clusters/vc/cfg/vcaltdb/rpm/early/.RPMS.Manifest
clusters/vc/cfg/vcbuild/rpm/early/.RPMS.Manifest
clusters/vc/cfg/vcdb/rpm/early/.RPMS.Manifest
clusters/vc/cfg/vcgate/rpm/early/.RPMS.Manifest
clusters/vc/cfg/vclogin/rpm/early/.RPMS.Manifest
clusters/vc/cfg/vcsched/rpm/early/.RPMS.Manifest
clusters/vc/cfg/vcsvc/rpm/early/.RPMS.Manifest
clusters/vc/common/home/sts/.Trash/
clusters/vc/common/home/sts/emptyjob-srun.sh
clusters/vc/common/home/sts/emptyjob.sh
clusters/vc/common/home/sts/slurm-20.11.1.tar.bz2
clusters/vc/common/home/sts/slurm-20.11.1/
clusters/vx/cfg/vx1/rpm/early/.RPMS.Manifest
clusters/vx/cfg/vx2/rpm/early/.RPMS.Manifest
clusters/vx/cfg/vxlogin/rpm/early/.RPMS.Manifest
clusters/vx/cfg/vxsched/rpm/early/.RPMS.Manifest
clusters/vx/common/provision/requires/vxdb/ipaddr
clusters/vc/build/slurm*
../../../../vx/cfg/vxlogin/config/slurm/ipaddr-slurmdbd.cluster-local-slurmdbd
../../../../vx/common/etc/slurm.vx/slurmdbd.conf.cluster-local-slurmdbd
