[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
# it is a deprecated feature
#symbolic-links=1
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysql according to the
# instructions in http://fedoraproject.org/wiki/Systemd

# slurm version 18.08+ requires these tuning parameters
innodb_buffer_pool_size=2048M
innodb_lock_wait_timeout=900
innodb_log_file_size=64M
#innodb_buffer_pool_instances=2 #XXX = # cores

bind_address=localhost,vcdb

# to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
default-authentication-plugin=mysql_native_password

## replication
server-id=1
#
binlog_do_db=slurm_acct_db
log_bin=/var/log/mysql/mysql-bin.log
innodb_flush_log_at_trx_commit=1
sync_binlog=1

# revisit the following when/if automatic promotion of a replica to master db is needed
# leaving it off allows fewer restrictions on replica functionality
# See: https://dev.mysql.com/doc/refman/8.0/en/replication-gtids-restrictions.html
# gtid_mode=ON
# enforce-gtid-consistency=ON

[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysql/mysqld.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

